{% extends "authenticated-base.html" %}
{% block title %}Source Detail{% endblock %}

{% load static %}
{% block inner-content %}
<div class="container my-5">
  <div class="p-5 text-center bg-body-tertiary rounded-3">
<!-- Page Content -->
<div class="container">

    <!-- Portfolio Item Heading -->
    <h1 class="my-4">{{ source.title }}
    </h1>
  
    <!-- Portfolio Item Row -->
    <div class="row">
  
      <div class="col-md-8">
      {% if source.img_link %}
        <img src="{{ source.img_link }}" height="750" width="500" class="img-fluid" alt="...">
        {% else %}
          <img src="{% static 'img/default-image.jpg' %}" height="750" width="500" class="img_fluid" alt="...">
      {% endif %}
      </div>
  
      <div class="col-md-4">
        <h3 class="my-3">Description</h3>
        <p>{{ source.description }}</p>
        <h3 class="my-3">Details</h3>
          <div>
            <div><strong>Date: </strong>{{ source.published }}</div>
            <div>
            {% if user in source.subscribers.all %} 
              <a href="{% url 'delete-source' source_id=source.pk %}"><button class="btn btn-danger">Remove Source</button></a href>
            {% else %}
              <a href="{% url 'add-source' source_id=source.pk %}"><button class="btn btn-success">Add Source</button></a href>
            {% endif %}
            </div>
        </div>
      </div>
  
    </div>
    <!-- /.row -->
  
      <!-- Related Projects Row -->
    <h3 class="my-4">Sample Headlines</h3>
  
    <div class="row">
  
    {% for headline in sample_headlines %}
      <div class="col-md-3 col-sm-6 mb-4">
    <div class="card">
      {% if headline.img %}
        <img src="{{ headline.img }}" height="300" width="300" class="card-img-top" alt="...">
      {% elif headline.source.img_link %}
        <img src="{{ headline.source.img_link}}" height="300" width="300" class="card-img-top" alt="...">
        {% else %}
          <img src="{% static 'img/default-image.jpg' %}" height="300" width="300" class="card-img-top" alt="...">
      {% endif %}
    <div class="card-body">
      <h5 class="card-title fw-bold">{{ headline.title }}</h5>
    </div>
        <ul class="list-group list-group-flush">
          {% if headline.description != "null" %}
            <li class="list-group-item">{{ headline.description|truncatechars:100 }}</li>
            {% else %}
            <li class="list-group-item">No Description Available</li>
            {% endif %}
        </ul>
        <div class="card-footer ">
          <div class="d-flex justify-content-evenly align-items-center">
            <small class="text-muted">Published: {{ headline.published }}</small> <a href="{% url 'news-detail' headline_id=headline.pk %}" class=""><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-arrow-up-right-circle-fill" viewBox="0 0 16 16">
          <path d="M0 8a8 8 0 1 0 16 0A8 8 0 0 0 0 8zm5.904 2.803a.5.5 0 1 1-.707-.707L9.293 6H6.525a.5.5 0 1 1 0-1H10.5a.5.5 0 0 1 .5.5v3.975a.5.5 0 0 1-1 0V6.707l-4.096 4.096z"/>
        </svg>
            </a>
          </div>
      </div>
      </div>
      </div>
      {% endfor %}
  
  </div>
  <!-- /.container -->
  
  </div>
  </div>
{% endblock %}

